<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>LOGIN</h2>
      <div class="underline-title"></div>
    </div>
    <form  [formGroup]="Form" (ngSubmit)="onSubmit()" class="login-form">
      <label style="padding-top:13px">
          UserName
        </label>
      <input class="form-content" type="text" id="email" formControlName="email" placeholder="email" autocomplete="off" />
      <div class="form-border"></div>
      <small *ngIf="Form?.invalid && Form?.touched">Email required</small>
      <label style="padding-top:22px">Password
        </label>
      <input class="form-content" type="password" id="password" formControlName="password" placeholder="password" />
      <div class="form-border"></div>
      <small *ngIf="Form?.invalid && Form?.touched">Password required</small>

      <button id="submit-btn" type="submit" [disabled]="!Form.valid">LOG IND</button>
      <a routerLink="/register" id="signup">Har du ikke en konto?</a>
    </form>
  </div>
</div>
