
Biograf/.gitattributes
*.config
*.v2
*.vsidx
Biograf/.vs/Biograf/v17/.suo
Biograf/.vs/Biograf/v17/DocumentLayout.json
*.testlog
*.manifest
*.bin
Biograf/Biograf.API/bin/Debug/net8.0/af/Humanizer.resources.dll
Biograf/Biograf.API/bin/Debug/net8.0/ar/Humanizer.resources.dll
Biograf/Biograf.API/bin/Debug/net8.0/az/Humanizer.resources.dll
*.dll
*.user
Biograf/Biograf.API/obj/Debug/net8.0/Biograf.API.MvcApplicationPartsAssemblyInfo.cs
*.cache
*.props
Biograf/Biograf.Repo/bin/Debug/net8.0/Biograf.Repo.deps.json
*.exe
*.exe
/Biograf/Biograf.API/bin
/Biograf/Biograf.Repo/Migrations
/Biograf/Biograf.Repo/Migrations
/Biograf/Biograf.Repo/Migrations
/Biograf/Biograf.API/obj
/Biograf/Biograf.API/obj
/Biograf/Biograf.Test/obj
/Biograf/Biograf.Test/obj
/Biograf/Biograf.Repo/obj
/Biograf/Biograf.API/bin
