<p>testwith-flemming works!</p>
{{title}}
<!-- This line print the name and age -->
<p>{{name}} {{age}}</p>
<!-- This is a create  click method som we have made in ts file and implement in html -->
<button (click)="create()">create</button>

<!--<button (click)="create">create</button>--> <!--This will show all body  -->

 <p *ngIf="!sand"> this is some text</p>
<ul *ngFor="let item of list">
  <li>hello</li>

<p *ngFor="let item of person"></p>
<li>{{this.person}}</li>
<!-- <p>{{FirstName}}</p> -->
