
<div class="height">
  <div>
    <button (click)="route(0)" type="button" class="btn btn-danger btn-lg">Actor</button>
    <button (click)="route(1)" type="button" class="btn btn-dark btn-lg">Author</button>
    <button (click)="route(2)" type="button" class="btn btn-warning btn-lg">Category</button>
    <button (click)="route(3)" type="button" class="btn btn-secondary btn-lg">Movie</button>
    <button (click)="route(4)" type="button" class="btn btn-primary btn-lg">Language</button>
    <button (click)="route(5)" type="button" class="btn btn-info btn-lg">User</button>
</div>
</div>
